.btn {
    background-color: #ff6326; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius:8px;
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */ 
    transition-duration: 0.4s; 
    text-decoration: none; 
    overflow: hidden; 
    cursor: pointer; 
} 
.btn:after { 
    content: ""; 
    background: orange; 
    display: block; 
    position: absolute; 
    padding-top: 300%; 
    padding-left: 350%; 
    margin-left: -20px!important; 
    margin-top: -120%; 
    opacity: 0; 
    transition: all 0.8s 
} 
.btn:active:after { 
    padding: 0; 
    margin: 0; 
    opacity: 1; 
    transition: 0s }